.showArea {
  border: 1px solid yellow;
  box-shadow: 0 0 2px 3px yellow;
  width: 80%;
  height: 50%;
}

.showArea-wrapper {
  border: 1px solid #ad0000;
  box-shadow: 0 0 2px 4px #f9e0e0;
  width: 50rem;
  height: 80vh;
}

.hideMe {
  display: none;
}

.child {
  margin: 10px;
  border: 1px solid coral;
  box-shadow: 0px 0px 2px 3px coral;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
}
