<!-- styled input , type :range -->
<div style="width: 200px">
  <input
    type="range"
    id="volume"
    name="volume"
    min="500"
    max="1500"
    #animateSpeed
  />
  {{ animateSpeed.value }}
</div>

<!-- gradient border  -->
<div>
  <h3>gradient border</h3>
  <div class="white-grad">Some text here</div>
  <div class="white-grad">
    Some Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusamus
    ducimus ullam sed tempore voluptas assumenda, laboriosam maxime recusandae
    qui. Atque rerum vero quia, repellendus eos nisi ea omnis necessitatibus?
    here
  </div>
  <div class="white-grad">
    Some text hereSome text hereSome text hereSome text here
  </div>
</div>
