<div class="card_wrapper">
  <!-- styled input , type :range -->
  <div [ngClass]="{ dark: darkMode }" style="margin: 1rem auto">
    <input
      type="range"
      id="volume"
      name="volume"
      min="1500"
      max="3000"
      #animateSpeed
      [(ngModel)]="speed"
    />
    <span>{{ animateSpeed.value }}&nbsp;ms</span>
  </div>

  <div class="card_area">
    <app-animate-card
      id="topCard"
      *ngIf="showTop"
      @slideUp
      [imageSlogan]="imageSloganTop"
      [imageSrc]="imageSrc"
    ></app-animate-card>
    <app-animate-card
      id="topBottom"
      *ngIf="!showTop"
      @slideUp
      [imageSlogan]="imageSloganBottom"
      [imageSrc]="imageSrc"
    ></app-animate-card>
  </div>
</div>
