.card_wrapper {
  position: relative;
  height: 90vh;
}

.card_area {
  position: absolute;

  height: 90vh;
  width: 100%;
  border: 1px solid transparent;
  overflow: hidden;
}

.button_area {
  position: absolute;
  top: 22rem;
  left: 0;
}

#topCard,
#bottomCard {
  position: absolute;
  top: 0;
  width: 100%;
}

#topCard {
  z-index: 999999;
}

#bottomCard {
  z-index: 999990;
}
